<div class="wrapper">
    <div class="form">
        <form action="/create-account" method="post">
            </br>
            Create account</br></br>
            &emsp;&emsp;&emsp;&nbsp;&nbsp;Username: <input name="username" type="text" /></br></br>
            &emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;Password: <input name="password" type="password" /></br></br>
            Re-enter Password: <input name="passwordCheck" type="password" /></br></br>
            <input value="Create Account" type="submit" /></br></br>
            Already have an account?
            <p><a href="/login">Login</a></p>
        </form>
    </div>
    <div class="image">
        <img src="img/signin_signup.jpg" height="80%" >
    </div>
</div>