<div class="wrapper">
    <div class="form">
        <form action="/login" method="post">
            </br>
            Login with a username and password</br></br>
            Username: <input name="username" type="text" /></br></br>
            &nbsp;Password: <input name="password" type="password" /></br></br>
            <input value="Login" type="submit" /></br></br>
            Don't have an account?
            <p><a href="/create-account">Sign Up</a></p>
        </form>
    </div>
    <div class="image">
        <img src="img/signin_signup.jpg" height="80%" >
    </div>
</div>